@model PursiXMVC.Models.User.EditUserPasswordModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Salasanan vaihto";
}

<div class="text-center">
    <i class="fas fa-user-secret fa-6x pt-2 pb-2"></i>
</div>

<h3>Salasanan vaihto</h3>
@ViewBag.error

<form method="post" asp-controller="account" asp-action="edituserpassword">
    <input type="hidden" asp-for="LoginId" value="@Context.Session.GetInt32("loginid")" />
    <input type="hidden" asp-for="Email" value="@Context.Session.GetString("username")" />
    <input type="hidden" asp-for="UserName" value="@Context.Session.GetString("username")" />

    <div class="form-group">
        <p><span class="text-danger">@ViewBag.passwordError</span></p>
        <p><span asp-validation-for="PassWord" class="text-danger"></span></p>
        <span>Vanha salasana:</span>
        <div class="input-group">
            <input type="password" asp-for="PassWord" class="form-control" placeholder="Vanha salasanasi">
        </div>
    </div>

    <div class="form-group">
        <p><span asp-validation-for="NewPassWord" class="text-danger"></span></p>
        <span>Uusi salasana:</span>
        <div class="input-group">
            <input type="password" asp-for="NewPassWord" class="form-control" placeholder="1 kirjain 1 numero, vähintää 8 merkkiä">
        </div>
    </div>

    <div class="form-group">
        <p><span asp-validation-for="NewPassWord" class="text-danger"></span></p>
        <span>Uusi salasana uudelleen:</span>
        <div class="input-group">
            <input type="password" name="passwordveri" class="form-control" placeholder="1 kirjain 1 numero, vähintää 8 merkkiä">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Tallenna uusi salasana</button>

    <a class="btn btn-secondary" asp-action="Index" asp-controller="Events">Peruuta</a>

</form>
